:root {
    /* Color Palette */

    /* City windows */
    --sky-top: #ff879f;
    --sky-bottom: #ffe3e9;
    --clouds: #ffece0;
    --stars: #FFB7C5;
    --buildings-row-one: #17002c;
    --buildings-row-two: #4f476d;
    --buildings-row-three: #92899e;
    --windows: #f3e16b;
    --windows-dimmed: #f3e16b4d;
    --train: #001867;
    --train-track: #504957;
    --train-windows: #f3e16b;
    --tester: #00c8ff;
}

#city-in-window-left {
    /* Make the container's height the same as the whole page,
       then specify desired height percentage in the sky container */
    height: 100%;
    display: flex;
}

.sky-container {
    position: relative;
    margin-top: 75px;
    margin-left: 30px;
    width: 20%;
    height: 40%;
    overflow: hidden;
    border: 2px #17002c;
    border-style: solid;
    background-image: linear-gradient(to top, var(--sky-bottom) 0%, var(--sky-top) 100%);
}

.buildings-row-one {
    /* Set dimensions and position of first, most leftmost building */
    position: absolute;
    background-color: var(--buildings-row-one);
    width: 22%;
    height: 40%;
    bottom: 0%;

    /* Use box shadows to generate repeating city pattern layout */
    box-shadow:
        150px 0 var(--buildings-row-one),
        200px 0 var(--buildings-row-one),
        250px 0 var(--buildings-row-one);

    z-index: 7;
}

.buildings-row-one:before {
    /* Set dimensions and position of smaller building, based on the first one */
    content: "";
    position: absolute;
    background-color: var(--buildings-row-one);
    width: 50%;
    height: 50%;
    bottom: 0%;
    left: 100%;

    /* Repeat the pattern of small buildings in the cityscape */
    box-shadow:
        95px 0 var(--buildings-row-one),
        145px 0 var(--buildings-row-one),
        190px 0 var(--buildings-row-one),
        270px 0 var(--buildings-row-one);
}

.buildings-row-one:after {
    /* Based a medium-sized building based on the first one */
    content: "";
    position: absolute;
    background-color: var(--buildings-row-one);
    width: 75%;
    height: 75%;
    bottom: 0%;
    left: 155%;

    /* Make a pattern of medium buildings showing up in the cityscape */
    box-shadow:
        120px 0 var(--buildings-row-one),
        250px 0 var(--buildings-row-one),
        300px 0 var(--buildings-row-one);
}

.track {
    position: absolute;
    background-color: var(--buildings-row-one);
    width: 95px;
    height: 5px;
    left: 100%;
    bottom: 20%;
    z-index: 1;
}

.track:before {
    content: "";
    position: absolute;
    background-color: var(--train-track);
    width: 7px;
    height: 2.5px;
    top: 2px;
    box-shadow:
        10px 0 var(--train-track),
        20px 0 var(--train-track),
        30px 0 var(--train-track),
        40px 0 var(--train-track),
        50px 0 var(--train-track),
        60px 0 var(--train-track),
        70px 0 var(--train-track),
        80px 0 var(--train-track),
        90px 0 var(--train-track);
}

.train-container {
    z-index: 2;
    position: absolute;
    width: 95px;
    height: 100px;
    overflow: hidden;
    left: 100%;
}

.train {
    position: absolute;
    background-color: var(--train);
    width: 60px;
    height: 25px;
    bottom: 35%;
    left: -100px;
    box-shadow:
        65px 0 var(--train),
        130px 0 var(--train),
        195px 0 var(--train),
        260px 0 var(--train),
        -65px 0 var(--train);
    animation: move 10s linear infinite;
}

.train:before {
    content: "";
    position: absolute;
    background-color: var(--train-windows);
    width: 15px;
    height: 10px;
    left: 40px;
    top: 5px;
    box-shadow:
        65px 0 var(--train-windows),
        -65px 0 var(--train-windows),
        130px 0 var(--train-windows),
        195px 0 var(--train-windows),
        260px 0 var(--train-windows);
}

.train:after {
    content: "";
    position: absolute;
    background-color: var(--train-windows);
    height: 5px;
    width: 5px;
    top: 5px;
    left: 7px;
    box-shadow:
        10px 0 var(--train-windows),
        75px 0 var(--train-windows),
        140px 0 var(--train-windows),
        20px 0 var(--train-windows),
        85px 0 var(--train-windows),
        150px 0 var(--train-windows),
        33px 12px var(--train-windows),
        98px 12px var(--train-windows),
        163px 12px var(--train-windows),
        43px 12px var(--train-windows),
        108px 12px var(--train-windows),
        173px 12px var(--train-windows),
        238px 12px var(--train-windows),
        303px 12px var(--train-windows),
        65px 0 var(--train-windows),
        130px 0 var(--train-windows),
        195px 0 var(--train-windows),
        260px 0 var(--train-windows),
        -65px 0 var(--train-windows),
        -55px 0 var(--train-windows),
        -45px 0 var(--train-windows),
        -32px 12px var(--train-windows),
        -22px 12px var(--train-windows),
        228px 12px var(--train-windows),
        293px 12px var(--train-windows),
        215px 0 var(--train-windows),
        280px 0 var(--train-windows),
        205px 0 var(--train-windows),
        270px 0 var(--train-windows);
}

@keyframes move {
    from {
        left: -150px;
    }

    to {
        left: 44px;
    }
}

/* Windows for the first row of buildings */
.windows-row-one {
    position: absolute;
    z-index: 3;
    background-color: var(--buildings-row-one);
    width: 100%;
    height: 30px;
    top: 25%;
    box-shadow:
        150px 0 var(--buildings-row-one),
        200px 0 var(--buildings-row-one),
        250px 0 var(--buildings-row-one);
}

.windows-row-one:before {
    content: "";
    position: absolute;
    background-color: var(--windows);
    width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
    box-shadow:
        15px 0 var(--windows-dimmed),
        150px 0 var(--windows),
        200px 0 var(--windows-dimmed),
        250px 0 var(--windows-dimmed);
    animation: light 15s linear infinite 2s;
}

@keyframes light {
    0% {
        filter: brightness(.5);
    }

    50% {
        filter: brightness(1.5);
    }

    100% {
        filter: brightness(0.3);
    }
}

/* Second row of buildings */
.buildings-row-two {
    position: absolute;
    background-color: var(--buildings-row-two);
    width: 30%;
    height: 55%;
    bottom: 0%;
    z-index: 4;
    box-shadow:
        55px 20px var(--buildings-row-two),
        120px 10px var(--buildings-row-two),
        165px 20px var(--buildings-row-two),
        210px 0 var(--buildings-row-two),
        240px 15px var(--buildings-row-two);
}

.buildings-row-two:before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background-color: rgba(204, 201, 0, .3);
    top: 5px;
    left: 50%;
    box-shadow:
        12px 0 rgba(204, 201, 0, .1),
        70px 30px rgba(204, 201, 0, .3),
        60px 40px rgba(204, 201, 0, .1),
        100px 50px rgba(204, 201, 0, .1),
        100px 20px rgba(204, 201, 0, .1),
        115px 20px rgba(204, 201, 0, .3),
        100px 10px rgba(204, 201, 0, .2),
        130px 10px rgba(204, 201, 0, .1),
        170px 40px rgba(204, 201, 0, .1),
        174px 40px rgba(204, 201, 0, .1),
        220px 10px rgba(204, 201, 0, .1),
        245px 30px rgba(204, 201, 0, .1);
}

.banner {
    position: absolute;
    width: 35px;
    height: 20px;
    background-color: #5ea3f7;
    left: 57px;
    top: 22px;
    box-shadow: inset 0 -6px #d90429, inset 0 6px #55a630;
    overflow: hidden;
    opacity: .3;
    animation: change 15s linear infinite;
}

@keyframes change {
    0% {
        filter: brightness(1.2) hue-rotate(0) saturate(7);
    }

    50% {
        filter: brightness(2) hue-rotate(360deg) saturate(7);
    }

    100% {
        filter: brightness(1.2) hue-rotate(0) saturate(7);
    }
}

.windows-row-two {
    position: absolute;
    background-color: rgba(255, 214, 10, .4);
    width: 8px;
    height: 8px;
    top: 10px;
    left: 10px;
    box-shadow:
        90px 50px rgba(255, 214, 10, .4),
        160px 55px rgba(255, 214, 10, .4),
        225px 55px rgba(255, 214, 10, .2),
        330px 35px rgba(255, 214, 10, .2),
        380px 40px rgba(255, 214, 10, .4);
    animation: light 10s linear infinite 3.2s;
}

.buildings-row-three {
    position: absolute;
    background-color: var(--buildings-row-three);
    width: 18%;
    height: 70%;
    bottom: 0%;
    z-index: 3;
    box-shadow:
        30px -15px var(--buildings-row-three),
        65px 30px var(--buildings-row-three),
        110px 0 var(--buildings-row-three),
        135px -20px var(--buildings-row-three),
        160px -10px var(--buildings-row-three);
}

.buildings-row-three:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: rgba(255, 214, 10, .1);
    top: 5px;
    left: 30px;
    box-shadow:
        12px 0 rgba(255, 214, 10, .1),
        12px 10px rgba(255, 214, 10, .1),
        115px -15px rgba(255, 214, 10, .1),
        140px -15px rgba(255, 214, 10, .1),
        230px -5px rgba(255, 214, 10, .1);
}