:root {
    /* Color Palette */
    --bg: #F1DAC4;
    --font: #1F2232;
    --primary: #FFB7C5;
    --secondary: #6BA368;
    --accent: #596475;
}

body {
    padding: 0;
    margin: 0;
    background: var(--bg);
}

.navbar {
    background: var(--primary);
}

.navbar-nav {
    background-color: var(--bg);
    background-image: url("images/pink-nav.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
}

.nav-link {
    color: var(--font);
    cursor: pointer;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.nav-link:hover {
    color: var(--accent);
}

.navbar-collapse {
    justify-content: center;
}