:root {
    /* Color Palette */
    --bg: #F1DAC4;
    --font: #1F2232;
    --primary: #FFB7C5;
    --secondary: #6BA368;
    --accent: #596475;
}

body {
    padding: 0;
    margin: 0;
    background: var(--bg);
}

.navbar-nav {
    /* Set a background image within the nav bar */
    background-image: url("images/pink-nav.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Default in case image fails */
    background-color: var(--bg);

    /* Make the nav bar rounded at the corners */
    border-radius: 30px;

    /* Shadow effect */
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.nav-link {
    color: var(--font);
    cursor: pointer;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.nav-link:hover {
    color: var(--accent);
}

.navbar-collapse {
    justify-content: center;
}

.header {
    background-color: var(--bg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.herotext {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

h1 {
    text-align: center;
}

.herotext h1 {
    color: var(--font);
}

.herotext p {
    color: var(--font);
    font-size: 1.3rem;
    line-height: 1.5;
}

#about {
    background-color: var(--primary);
}

#experience {
    background-color: var(--bg);
}

#skills {
    background-color: var(--primary);
}

#contact {
    background-color: var(--bg);
}